<!-- Cta Start -->
<div class="section nenix-cta-section section-padding-02">
    <div class="container">
        <div class="cta-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <!-- Cta Left Start -->
                    <div class="cta-left">
                        <h2 class="title">Holen Sie sich <br> professionelle Unterstützung</h2>
                        <p>Ich helfe Ihnen, Ihre IT-Herausforderungen zu lösen und Ihre Projekte erfolgreich umzusetzen. Kontaktieren Sie mich für maßgeschneiderte Lösungen.</p>
                    </div>
                    <!-- Cta Left End -->
                </div>
                <div class="col-lg-5">
                    <!-- Cta Right Start -->
                    <div class="cta-right">
                        <a class="btn" href="contact.html">Jetzt Termin vereinbaren <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <!-- Cta Right End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cta End -->