<!-- Brand Logo Start TODO -->
<div class="section nenix-brand-section">
    <div class="container">
        <!-- Brand Wrapper Start -->
        <div class="brand-wrapper text-center">
            <!-- Brand Active Start -->
            <div class="brand-active">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Single Brand Start -->
                        <div class="swiper-slide single-brand">
                            <img src="/assets/images/brand/brand-1.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->
                        <!-- Single Brand Start -->
                        <div class="swiper-slide single-brand">
                            <img src="/assets/images/brand/brand-2.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->
                        <!-- Single Brand Start -->
                        <div class="swiper-slide single-brand">
                            <img src="/assets/images/brand/brand-3.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->
                        <!-- Single Brand Start -->
                        <div class="swiper-slide single-brand">
                            <img src="/assets/images/brand/brand-4.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->
                        <!-- Single Brand Start -->
                        <div class="swiper-slide single-brand">
                            <img src="/assets/images/brand/brand-5.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->
                        <!-- Single Brand Start -->
                        <div class="swiper-slide single-brand">
                            <img src="/assets/images/brand/brand-2.png" alt="Brand">
                        </div>
                        <!-- Single Brand End -->
                    </div>
                </div>
            </div>
            <!-- Brand Active End -->
        </div>
        <!-- Brand Wrapper End -->
    </div>
</div>
<!-- Brand Logo End -->

<!-- Footer Section Start -->
<div class="section footer-section">
    <div class="container">
        <!-- Footer Widget Wrap Start -->
        <div class="footer-widget-wrap">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget-about">
                        <a class="footer-logo" href="index.html"><img src="/assets/images/logo-2.png" alt="Logo"></a>
                        <p>Maßgeschneiderte IT-Dienstleistungen, die auf Ihre individuellen Bedürfnisse abgestimmt sind.</p>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget footer-widget-2">
                        <h4 class="footer-widget-title">Meine Services</h4>
                        <div class="footer-widget-link">
                            <ul class="link">
                                <li><a href="#">IT-Beratung</a></li>
                                <li><a href="#">Webentwicklung</a></li>
                                <li><a href="#">Eigene WebApp-Entwicklung</a></li>
                                <li><a href="#">Netzwerkinstallation</a></li>
                                <li><a href="#">Hosting & Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget footer-widget-3">
                        <h4 class="footer-widget-title">Weitere Links</h4>
                        <div class="footer-widget-link">
                            <ul class="link">
                                <li><a href="#">Über mich</a></li>
                                <li><a href="#">Projekte</a></li>
                                <li><a href="#">Schulungen</a></li>
                                <li><a href="#">Kontakt</a></li>
                                <li><a href="#">Impressum</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Kontakt</h4>
                        <div class="widget-info">
                            <ul>
                                <li>
                                    <div class="info-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="info-text">
                                        <span><a href="tel:+491234567890">+49 123 456 7890</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-icon">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="info-text">
                                        <span><a href="mailto:info@juliushunold-it.de">info@juliushunold-it.de</a></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="info-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>31157 Sarstedt, Deutschland</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget Wrap End -->
    </div>

    <!-- Footer Copyright Start -->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="footer-copyright-wrap">
                <div class="footer-copyright-text-wrap">
                    <!-- Footer Copyright Text Start -->
                    <div class="copyright-text">
                        <p>© Julius Hunold | IT-Dienstleistungen 2024 | Alle Rechte vorbehalten.</p>
                    </div>
                    <!-- Footer Copyright Text End -->
                    <!-- Footer Copyright Link Start -->
                    <div class="footer-copyright-links">
                        <a href="faq.html">Impressum</a>
                        <a href="privacy-policy.html">Datenschutz</a>
                        <a href="faq.html">FAQ</a>
                    </div>
                    <!-- Footer Copyright Link End -->
                </div>
                <div class="footer-social">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</div>
<!-- Footer Section End -->