<!-- Header Start  -->
<div class="section header-section">

    <!-- Header Top Start  -->
    <div class="header-top-section d-none d-lg-block">
        <div class="container">
            <div class="header-top-wrapper">
                <div class="header-top-info">
                    <ul>
                        <li><i class="fas fa-phone-alt"></i> <a href="tel:+4917623452223">+49 176 23452223</a> </li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:info@julius-hunold.de">info@julius-hunold.de</a> </li>
                    </ul>
                </div>
                <div class="header-social">
                    <ul>
                        <li><a href="https://www.xing.com/profile/Julius_Hunold022203", target="_blank"><i class="fab fa-xing"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/julius-hunold-b3a669151/", target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://github.com/dfgsteam", target="_blank"><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Top End  -->

    <!-- Header Bottom Start  -->
    <div id="header" class="header-bottom-section">
        <div class="container">

            <!-- Header Wrap Start  -->
            <div class="header-wrap">

                <div class="header-logo">
                    <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                </div>

                <div class="header-menu d-none d-lg-block">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul>
                                <li class="active-menu"><a href="/">Home</a></li>
                                <li><a href="/ueber-mich">Über mich</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/portfolio">Portfolio</a></li>
                                <li><a href="faq">FAQ</a></li>
                                <li><a href="/kontakt">Kontakt</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Header Meta Start -->
                <div class="header-meta">

                    <!-- Header Button Start -->
                    <div class="header-btn d-none d-lg-block">
                        <a class="btn" href="service.html">Mehr entdecken <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <!-- Header Button End -->

                    <!-- Header Toggle Start -->
                    <div class="side-menu-icon d-lg-none">
                        <a href="javascript:void(0)" class="info-toggle-btn f-right sidebar-toggle-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <!-- Header Toggle End -->
                </div>
                <!-- Header Meta End  -->

            </div>
            <!-- Header Wrap End  -->
        </div>
    </div>
    <!-- Header Bottom End  -->

</div>
<!-- Header End -->


<!-- sidebar area start -->
<div class="sidebar__area">
    <div class="sidebar__wrapper">
        <div class="sidebar__close">
            <button class="sidebar__close-btn" id="sidebar__close-btn">
                <i class="fas fa-times"></i>
            </button>
        </div>
        <div class="sidebar__content">
            <div class="sidebar__logo">
                <a href="index.html">
                    <img src="assets/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="mobile-menu fix"></div>
            <div class="sidebar__text d-none d-lg-block">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you a complete account of the system and expound the actual teachings of the great explore</p>
            </div>
            <div class="sidebar__contact">
                <h4>Kontaktinformationen</h4>
                <ul>
                    <li class="d-flex align-items-center">
                        <div class="sidebar__contact-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="sidebar__contact-text">
                            <a target="_blank" href="#">Sarstedt, Niedersachen, Germany</a>
                        </div>
                    </li>
                    <li class="d-flex align-items-center">
                        <div class="sidebar__contact-icon mr-15">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="sidebar__contact-text">
                            <a href="tel:+4917623452223">+49 176 23452223</a>
                        </div>
                    </li>
                    <li class="d-flex align-items-center">
                        <div class="sidebar__contact-icon mr-15">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="sidebar__contact-text">
                            <a href="mailto:info@julius-hunold.de">info@julius-hunold.de</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="sidebar__social">
                <ul>
                    <li><a href="https://www.xing.com/profile/Julius_Hunold022203", target="_blank"><i class="fab fa-xing"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/julius-hunold-b3a669151/", target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://github.com/dfgsteam", target="_blank"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- sidebar area end -->