/*--
/*  2.3 - Button CSS
/*----------------------------------------*/


.btn-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
	& .btn {
		margin: 5px;
	}
}

   
// Button
.btn {
	display: inline-block;
	overflow: hidden;
	transform: perspective(0) translateZ(0);
	border-color: transparent;
	color: $heading-color3;
	border-radius: 30px;
	font-size: 18px;
	font-family: $body-font;
	font-weight: 400;
	height: 58px;
	line-height: 56px;
	padding: 0px 30px;
	text-transform: uppercase;
	border: 1px solid $primary;
	border-style: solid;
	box-shadow: none;
	transition: all 0.5s ease 0s;
	cursor: pointer;
	z-index: 1;
	position: relative;

	& i {
		margin-left: 5px;
	}


	&:focus,
	&:focus:active{
		box-shadow: none;
	}
	
	&:hover{
		background: $primary;
		border: 1px solid $primary;
		color: $white;
	}
}

.btn-2 {
	background: $primary;
	border: 1px solid transparent;
	color: $white;

	&:hover {
		background: $heading-color3;
		color: $white;
		border: 1px solid transparent;
	}
}

.btn-3 {
	height: 50px;
	line-height: 45px;
	font-size: 14px;
	padding: 0 40px;
	background: $primary;
	color: $white;
}



  
// Button Style
.btn-round {
	border-radius: 100px;
}
.btn-square {
	border-radius: 0;
}

// Button With Icon
[class*="btn-icon-"] {
	& i {
		position: absolute;
		top: 0;
		width: 60px;
		height: 60px;
		line-height: 28px;
		text-align: center;
		padding: 15px;
		background-color: rgba($black, 0.1);
	}
}
.btn-icon-left {
	padding-left: 69px;
	& i {
		left: 0;
		right: auto;
	}
}
.btn-icon-right {
	padding-right: 69px;
	& i {
		left: auto;
		right: 0;
	}
}


// Button Colors
.btn-primary {
	background-color: $primary;
	border-color: $primary;
	color: $white;

	&:hover {
		background-color: $primary;
		border-color: $primary;
	}
}
.btn-secondary {
	background-color: $secondary;
	border-color: $secondary;
	color: $white;
	&:hover {
		background-color: $secondary;
		border-color: $secondary;
	}
}
.btn-white {
	background-color: $white;
	border-color: $white;
	color: $heading-color;
	box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);

	&::after {
		background: $primary;
	}
	&::before {
		background: $primary;
	}

}
